* {
    height: 100%;
    margin: 0;
    font-family: "Roboto Mono", serif;
}
.A-wrapper {
    background-color: rgb(255, 221, 97);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* B section */
.B-status {
    margin-top: 3.5rem;
    text-align: center;
    font-size: 4vmin;
}
.B-play {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.B-press {
    display: flex;
    justify-content: center;
    align-items: center;
}

.B-score {

    display: flex;
    justify-content: space-between;
    width: 35vw;
    align-self: center;
    height: fit-content;
    font-size: 2vmax;
    margin-bottom: 5rem;

}

.B-new {
    background-color: rgb(255, 221, 97);
    display: flex;
    justify-content: center;
}


/* C section */
.B-play .C-bobTurn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}
.B-play .C-vs {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 4vmin;
}
.B-play .C-youTurn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}


.B-press .C-choice {
    display: flex;
    justify-content: center;
    align-items: center;
}


.B-score .C-youScore {
    font-size: 3vmin;
    display: flex;
    width: 15vmin;
    justify-content: space-between;
    text-align: center;
}   
.B-score .C-sepr {
    font-size: 3vmin;
}   
.B-score .C-bobScore {
    font-size: 3vmin;
    display: flex;
    width: 15vmin;
    justify-content: space-between;
    text-align: center;
}   


.B-new .C-newBtn {
    margin-top: 2rem;
    height: 5vmin;
    width: 12vmin;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(138, 193, 255);
    font-size: 1.6vmin;
}
.B-new .C-newBtn:hover {
    background-color: rgb(255, 253, 253);
}

.B-play .C-bobTurn .D-verticalText  {   
    font-size: 3vmin;
    display: inline-block;
    height: fit-content;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.B-play .C-youTurn .D-verticalText  {   
    font-size: 3vmin;
    display: inline-block;
    height: fit-content;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Elements */
.B-play .C-bobTurn img {
    width: 20vmin;
    height: 20vmin;

    transform: rotate(90deg)
}
.B-play .C-youTurn img {
    width: 20vmin;
    height: 20vmin;
    transform: scaleX(-1) rotate(90deg);

}

.B-press .C-choice img {
    padding: 0px;
    width: 5vmax;
    height: 5vmax;
    background-color: rgb(138, 193, 255);
    border-radius: 50%;
    text-align: center;
    margin: 1.5rem;
    padding: 0.5rem;
}

.B-press .C-choice img:hover{
    background-color: rgb(255, 253, 253);
}

.B-play .C-bobTurn .D-verticalText span{ 
    padding: 0.8rem;
}  
.B-play .C-youTurn .D-verticalText span{ 
    padding: 0.8rem;
}  

@media (max-width:650px) {
    .A-wrapper {
        height: 100vh;
        min-width: 90vw;
    }
    .B-status {
        text-align: center;
        font-size: 7vmin;
        height: fit-content;
        margin-bottom: 3rem;
    }

    .B-play {
        scale: 1.4;
        margin-top: 7rem;
        flex-direction: column;
    }

    .B-press {
        margin-top: 6rem;
    }
    .B-score {
        justify-content: space-around;
        margin-top: 3rem;
        width: 60vmin;
    }

    .B-play .C-bobTurn , .B-play .C-youTurn  {
        flex-direction: column;
    }
    .B-play .C-youTurn img {
        transform: rotate(0deg);
    }  

    .B-play .C-bobTurn img {
        transform: rotate(180deg);
    }  
    .B-play .C-bobTurn .D-verticalText ,
    .B-play .C-youTurn .D-verticalText  {
        flex-direction: row;
    }
    .B-new .C-newBtn {
        margin-top: 2rem;
        height: 10vmin;
        width: 20vmin;
        border-radius: 0.5rem;
        border: none;
        background-color: rgb(138, 193, 255);
        font-size: 3.6vmin;
    }

    .C-youScore , .C-bobScore {
        margin: 0.5rem;
        width: 20rem;
    }
    .C-sepr {
        width: 2rem;
        text-align: center;
    }

    .C-youScore p , .C-sepr p , .C-bobScore p {
        font-size: 5vmin;
    }

    .currScoreYou {
        margin-left: 2rem;
    }
   .currScoreBob {
        margin-right: 2rem;
    }

}